@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	margin : 0;
	padding : 0;
	width: 100vw;
	height:100vh;
	font-family: 'NEXON Lv1 Gothic OTF';
	overflow-y: auto;
	overflow-x:hidden;
}
header{
	width: 100vw;
}
a{
	color : black;
	text-decoration : none;
}
li a{
	font-size: 11pt;
}
table{
	border-spacing: 30px;
	margin:20px auto;
}
table td{
	text-align: center;
	border-radius: 20px;
	background-color: #5fa77f;
	color:#5fa77f;
	font-weight: normal;
	font-size: 11pt;
	padding: 20px;
}
ul a:hover{
	color:#5fa77f;
}
tr tds:hover{
	color:#5fa77f;
	background-color: #ffffff;
	border: 1px solid #5fa77f;
}
tr td a:hover{
	color:#5fa77f;
	background-color: #ffffff;
}
td a{
	color : #ffffff;
}
.desc_page{
	margin:20px 100px 30px 100px;
}
.desc_list{
	padding:0;
	padding-left:30px;
	line-height: 150%;
	font-size: 12pt;
}
.desc_list > li{
	font-weight: bold;
	margin-top : 10px;
}
.desc_task{
	display:inline-block;
	margin-bottom:20px;
}
.what_img{
	width: 80%;
	margin: 0 auto;
	margin-top : 20px;
	display: block;
}
.Q_div{
	float:left;
	margin-right:50px;
}
.A_div{
	float:left;
}
#article{
	margin : 40px;
	padding : 0;
	line-height: 150%;
}