@font-face {
    font-family: 'LeferiPoint-SpecialItalicA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	margin : 0;
	padding : 0;
	font-family: 'NEXON Lv1 Gothic OTF';
}
header{
	width: 100%;
}
a{
	color : black;
	text-decoration : none;
}
h1{
	background-color: rgb(183, 183, 253);
	font-size:40px;
	text-align:left;
	margin:0 auto;
	padding:20px 20px 0 20px;
}
h1 a {
	color :#6740d1;
	font-family:"LeferiPoint-SpecialItalicA";
	font-weight:100;
}
li a{
	font-size: 10pt;
}
.i_title{
	font-size: 11pt;
	text-align: center;
	margin : 0;
	padding : 0;
	padding-bottom:10px;
	border-bottom: 1px solid gray;
}
#grid{
	display: flex;
	flex-direction: row;
	width: 100%;
	height : 100vh;
}
#grid #index{
	background-color: rgb(223, 223, 248);
	width : 170px;
	margin : 0;
	padding : 0 20px 20px 20px;
}
.i_menu{
	background-color: #ffffff;
	border : 5px solid darkgray;
	border-radius: 10px;
	list-style:none;
	margin : 0 12px 10px 12px;
	padding : 15px 10px;
}
#grid #index ul li{
	font-size: 13pt;
	padding-top : 10px;
	list-style:none;
	text-align: center;
	
}
.what_img{
	width: 60%;
	margin: 0 auto;
	margin-top : 20px;
	display: block;
}
#article{
	margin : 40px;
	padding : 0;
	line-height: 150%;
}
#view{
	flex-grow: 1;
}
