@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'DungGeunMo';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	margin : 0;
	font-family: 'NEXON Lv1 Gothic OTF';
}
a{
	color : black;
	text-decoration : none;
}
h1{
	background-color: rgb(183, 183, 253);
	font-size:45px;
	text-align:left;
	margin:0 auto;
	padding:20px;
}
h1 a {
	color :#6740d1;
	font-family:'DungGeunMo';
}
h3{
	font-size: 20pt;
	text-align: center;
	margin : 0;
	padding : 0;
}
#grid{
	font-family: "DOSGothic";
	display:grid;
	grid-template-columns: 180px 1fr;
	height : 100vh;
}
#grid #index{
	background-color: rgb(223, 223, 248);
	width : 180px;
	margin : 0;
	padding : 20px;
}
#grid #index ul{
	background-color: #ffffff;
	text-align: center;
	border : 5px solid darkgray;
	border-radius: 10px;
	list-style:none;
	margin : 10px;
	padding : 15px 0;
}
#grid #index ul li{
	font-size: 15pt;
	text-align: left;
	padding : 10px 0 0 15px;
}
#article{
	padding-left : 40px;
	width : 96.6%;
	margin : 0;
	line-height: 150%;
}
#article img{
	width : 50%;
	padding : 30px 0;
	display : block;
	margin : 0 auto;
	
}
table{
	border-spacing: 30px;
	margin:20px auto;
}
table td{
	text-align: center;
	border-radius: 20px;
	background-color: rgba(211, 208, 255, 0.76);
	font-weight: normal;
	font-size: 15pt;
	padding: 20px;
}
ul a:hover{
	color:#6844c9;
}
tr td:hover{
	color:#6844c9;
	background-color: #ffffff;
	border: 1px solid #6844c9;
}
td a:hover{
	color:#6844c9;
	background-color: #ffffff;
}
td a{
	color : #6844c9;
}
p, li{
	font-size: 13pt;
	line-height: 130%;
}
@media(max-width:500px){
	#grid{
		display:block;
	}
	#grid ul{
		border-right : none;
		border-top : 1px solid gray;
		border-bottom : 1px solid gray;
		width:100%;
		padding : 20px 0;
		text-align : center;
	}
	#grid ul li{
		display: inline-block;
		width : 20%;
	}
	h1{
		border-bottom : none;
	}
	#article{
		padding : 0;
		width : 80%;
		margin : 0 auto;
	}
	#article img{
		width : 100%;
		padding : 0;
	}
}